@import 'variables';

body {
    background-color: white;
  
    @media (max-width: $breakpoint-mobile) {
      background-color: lightblue;
    }
  
    @media (min-width: $breakpoint-desktop) {
      background-color: lightgreen;
    }
  }
  